@import "tailwindcss";

@theme {
  --font-sans: "Outfit", system-ui, sans-serif;
  --font-resume: "Calibri", ui-sans-serif, system-ui, sans-serif;
}

@page {
  size: A4;
  margin: 0;
}

body {
  font-family: var(--font-resume);
}
